:root {
  --cards-number: 2;
  --grid-gap: 10px;
  --grid-padding: 10px;
  --card-bg-color: #ffffff;
}

*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background: #ffffff;
  margin: 15px;
  width: 340px;
}

.preview {
  background: #f9fafd;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
}

.layout-placeholder {
  background-color: #f9fafd;
  color: #464b5b;
  font-size: 18px;
  width: 100%;
  height: min-content;
}

.accordion {
  background: #e6ebff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
}

.accordion-title {
  color: #0033ff;
  font-weight: 800;
  font-size: 18px;
  margin: 0;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
}

input {
  box-sizing: border-box;
}

.form-control {
  background-color: #ffffff;
  border: 1px solid #d6dae4;
  border-radius: 3px;
  padding: 6px 12px;
  height: 38px;
  width: 100%;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
}

input[type="radio"] {
  margin: 0;
  width: 15px;
  height: 15px;
}

.radio-select {
  display: flex;
  align-items: center;
  gap: 5px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

/* GRID LAYOUT */
.card-container {
  background: #f9fafd;
}

.card-container.dynamic {
  display: grid;
  padding: 10px;
  margin: auto;
  gap: var(--grid-gap);
  --max-gap-width: calc(4 * var(--grid-gap));
  --max-columns-width: calc(5 * 450px);
  --max-padding: calc(2 * 10px);
  --max-grid-width: calc(
    (var(--max-columns-width) + var(--max-gap-width)) + var(--max-padding)
  );
  max-width: var(--max-grid-width);
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, calc(var(--max-columns-width) / 5))
  );
  justify-content: center;
}

.card-container.static {
  padding: 10px;
  /* --grid-layout-gap: 10px; */
  --grid-column-count: var(--cards-number);
  --grid-item--min-width: 100px;

  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-gap));
  --grid-item--max-width: min(
    450px,
    calc((100% - var(--total-gap-width)) / var(--grid-column-count))
  );

  display: grid;
  margin: auto;
  --max-grid-width: calc(
    (var(--grid-column-count) * var(--grid-item--max-width)) +
      var(--total-gap-width)
  );
  max-width: var(--max-grid-width);
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );
  grid-gap: var(--grid-gap);
}

/* CARD LAYOUT */
.card {
  border: 1px solid lightgray;
  padding: 15px;
  background-color: var(--card-bg-color);
}

.card-heading {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.name-date-container {
  flex-grow: 1;
}

.username {
  font-weight: 700;
  margin-bottom: 5px;
}

.post-date {
  font-weight: 400;
  font-size: 14px;
}

.social-network {
  width: 30px;
  height: 30px;
}

.post-image {
  aspect-ratio: 1 / 1;
  max-width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-image img {
  max-width: 150%;
}

.text-container {
  margin-bottom: 20px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.horizontal-line {
  width: 100%;
  height: 2px;
  background-color: lightgray;
  margin-bottom: 20px;
}

.hearts-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.load-card-btn {
  padding: 20px 15px;
  background-color: #0081ff;
  border: none;
  border-radius: 6px;
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}
